@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
    background : linear-gradient(to right,#4285F4,#9CECFB);
     font-family: "Roboto",sans-serif;

}
.head a{
    position:absolute;
    left:10%;
    top:10%;
    text-decoration:none;
    color:white;
}
.quiz_container{
    border-radius: 10%;
    background-color: white;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    width:30%;
    margin:auto;
    margin-top:100px;
    text-align:center;
}
.questions{
    overflow: hidden;
    padding:50px;
}

li{
    padding: 17px 0;
    list-style: none;
    text-align:left;
    font-size: 16px;
}

button{
    cursor: pointer;
    margin-top: 10%;
    height: 40px;
    width: 100px;
    background-color: #4285F4;
    color: white;
    border-radius: 4px;
}

button:hover{
    background-color: #206BE4;
}

.question{
    text-align:center;
}

input,label{
    cursor: pointer;
}
